* {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
    background-color: transparent;
}
h1 {
    font-size: 48px;
}
h3 {
    padding-top: 8px;
}
.my-col2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.red-circle {
    border: 10px solid white;
    background-color: #e6563b;
    border-radius: 100%;
    height: 165px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.orange-circle {
    border: 10px solid white;
    background-color: #eb9d3a;
    border-radius: 100%;
    height: 165px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.green-circle {
    border: 10px solid white;
    background-color: #7cb06c;
    border-radius: 100%;
    height: 165px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.blue-circle {
    border: 10px solid white;
    background-color: #00aba9;
    border-radius: 100%;
    height: 165px;
    width: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.my-row1 {
    padding-top: 10px;
}

.col-3 {
    margin-top: 2em;
}

.my-row2 {
    font-family: 'Abel', sans-serif;
}

.empty {
    height: 150px;
}

img {
    max-width: 100%;
    border: 10px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.icons1 {
    background-color: #e6563b;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;

}

.icons2 {
    background-color: #eb9d3a;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.icons3 {
    background-color: #7cb06c;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.icons4 {
    background-color: #00aba9;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.my-row3 {
    font-family: 'Abel', sans-serif;
    margin-bottom: 50px;
}
