* {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}
h1, h2, h4, h5 {
    font-family: 'Anton', sans-serif;
    background-color: transparent;
}
h1 {
    font-size: 48px;
}
.logo-container {
    font-family: 'Abel', sans-serif;
    width: 100%;
    background-color: white;
    height: 50px;
    margin: 50px 0 0 0;
    position: relative;
}

.logo {
    border: none;
    height: 105px;
    width: 105px;
    background: transparent;
    margin-top: -1.5em;
}

.logo-list {
    font-family: 'Abel', sans-serif;
}

.logo-list li {
    background-color: transparent;
}

nav {
    margin-bottom: 5em;
}

.title {
    margin: 1em 0;
    font-size: 3em;
}
h3 {
    font-family: 'Abel', sans-serif;
}

ul {
    list-style: none;
}
.circle {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    padding: 0;
}
.my-col2 {
    padding-top: 2em;
    padding-bottom: 2em;
}
.red-circle {
    border: 10px solid white;
    background-color: #e6563b;
    max-width: 100%;
    height: 25vh;
    color: white;
}
.orange-circle {
    border: 10px solid white;
    background-color: #eb9d3a;
    max-width: 100%;
    height: 25vh;
    color: white;
}

.green-circle {
    border: 10px solid white;
    background-color: #7cb06c;
    max-width: 100%;
    height: 25vh;
    color: white;
}

.blue-circle {
    border: 10px solid white;
    background-color: #00aba9;
    max-width: 100%;
    height: 25vh;
    color: white;
}

.my-row1 {
    padding-top: 10px;
}

.col-3 {
    margin-top: 2em;
}

.my-row2 {
    font-family: 'Abel', sans-serif;
}

.empty {
    height: 150px;
}

img {
    max-width: 100%;
    border: 10px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.icons1 {
    background-color: #e6563b;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;

}

.icons2 {
    background-color: #eb9d3a;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.icons3 {
    background-color: #7cb06c;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.icons4 {
    background-color: #00aba9;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
}

.my-row3 {
    font-family: 'Abel', sans-serif;
    margin-bottom: 50px;
}
hr {
    display: none;
}
@media (min-width: 576px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    .nav-xs {
        display:none;
    }
    .nav-sm {
        margin-top: -4.5em;
    }
    .sm-circle {
        font-size: 1.25em;
        font-family: 'Anton', sans-serif;
    }
    .logo-list {
        background-color: white;
    }
    .red-circle-sm {
        border: 5px solid white;
        background-color: #e6563b;
        border-radius: 100%;
        max-width: 100%;
        height: 11vh;
        color: white;
    }
    .orange-circle-sm {
        border: 5px solid white;
        background-color: #eb9d3a;
        border-radius: 100%;
        max-width: 100%;
        height: 11vh;
        color: white;
        margin-left: 5px;
    }

    .green-circle-sm {
        border: 5px solid white;
        background-color: #7cb06c;
        border-radius: 100%;
        max-width: 100%;
        height: 11vh;
        color: white;
        margin-left: 5px;
    }

    .blue-circle-sm {
        border: 5px solid white;
        background-color: #00aba9;
        border-radius: 100%;
        max-width: 100%;
        height: 11vh;
        color: white;
        margin-left: 5px;
    }
    hr {
        width: 65%;
        margin: 15px auto 30px auto;
        display: flex;
    }
    .empty {
        display: none;
    }
    .img-sm {
        border: 5px solid #e6e6e6;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .feat {
        font-size: .6em;
        padding: 0;
    }
    .icons1 {
        background-color: #e6563b;
        border-radius: 100%;
        height: 1em;
        width: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .6em;
        padding: 1em;

    }

    .icons2 {
        background-color: #eb9d3a;
        border-radius: 100%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .6em;
        padding: 1em;
    }

    .icons3 {
        background-color: #7cb06c;
        border-radius: 100%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .6em;
        padding: 1em;
    }

    .icons4 {
        background-color: #00aba9;
        border-radius: 100%;
        height: 18px;
        width: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .6em;
        padding: 1em;
    }
    .man {
        height: 133px;
        width: 195px;
    }
    .services {
    }

    .work-1 {
        margin-left: 40px;
        margin-right: 60px;
    }

    .blog {
        margin-left: 80px;
        margin-right: 40px;
    }

    .contact {

    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    .sm-circle {
        font-size: 1em;
        font-family: 'Anton', sans-serif;
    }
    .my-row-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .red-circle-sm {
        border: 5px solid white;
        background-color: #e6563b;
        color: white;
        max-width: 100%;
        height: 11vh;
    }
    .orange-circle-sm {
        border: 5px solid white;
        background-color: #eb9d3a;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 11vh;
    }

    .green-circle-sm {
        border: 5px solid white;
        background-color: #7cb06c;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 11vh;
    }

    .blue-circle-sm {
        border: 5px solid white;
        background-color: #00aba9;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 11vh;
    }
    hr {
        width: 95%;
        margin: 15px auto 60px auto;
        display: flex;
    }
    .empty {
        display: none;
    }
    .img-sm {
        border: 5px solid #e6e6e6;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .feat {
        font-size: .6em;
        padding: 0;
    }
    .icons1 {
        background-color: #e6563b;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .5em;
        padding: 1em;

    }

    .icons2 {
        background-color: #eb9d3a;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .5em;
        padding: 1em;
    }

    .icons3 {
        background-color: #7cb06c;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        margin-left: 5px;
        font-size: .5em;
        padding: 1em;
    }

    .icons4 {
        background-color: #00aba9;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        /*margin-left: 5px;*/
        font-size: .5em;
        padding: 1em;
    }
    .work {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .last-txt {
        margin-left: auto;
    }
    .man {
        height: 190px;
        width: 281px;
    }
    .the-last{
        font-family: 'Anton', sans-serif;
        font-size: 20px;
    }
    .the-last-img {
        height: 3.5em;
        width: 3.5em;
        border: none;
        margin-left: 1em;
        margin-right: .7em;
    }
    .last-row {
        margin-bottom: 2em;
    }
    .tweet {
        color: #1DA1f3;
        font-size: 1.5em;
        margin-right: -2em;
    }
    .tweet-txt {
        font-family: 'Abel', sans-serif;
        margin-left: 0;
        height: 24px;
    }
    .tweet-row {
        margin-top: 2em;
        padding-left: 20px;
    }
    .ipsum {
        font-family: 'Abel', sans-serif;
        margin-left: 20px;
    }
    .services {
        margin: -6em 1.5em 0 0;
    }

    .work-1 {
        margin: -6em 1.5em 0 0;
    }

    .blog {
        margin: -6em 1.5em 0 0;
    }

    .contact {
        margin: -6em 1.5em 0 0;
    }
    .logo img {
        margin-top: -1em;
    }
    .title {

    }

}
@media (min-width: 993px) {
    body {
        background-color: #f0f0f0;
    }
    .container-fluid {
        width: 80%;
    }
    .red-circle-sm {
        border: 5px solid white;
        background-color: #e6563b;
        color: white;
        max-width: 100%;
        height: 15vh;
    }
    .orange-circle-sm {
        border: 5px solid white;
        background-color: #eb9d3a;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 15vh;
    }

    .green-circle-sm {
        border: 5px solid white;
        background-color: #7cb06c;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 15vh;
    }

    .blue-circle-sm {
        border: 5px solid white;
        background-color: #00aba9;
        color: white;
        margin-left: 2em;
        max-width: 100%;
        height: 15vh;
    }
}
